USE [master]
GO
/****** Object:  Database [QL THUVIEN DHKTCN]    Script Date: 23/04/2025 9:52:19 CH ******/
CREATE DATABASE [QL THUVIEN DHKTCN]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QL THUVIEN DHKTCN', FILENAME = N'I:\SQL2022\MSSQL16.SQL20222\MSSQL\DATA\QL THUVIEN DHKTCN.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QL THUVIEN DHKTCN_log', FILENAME = N'I:\SQL2022\MSSQL16.SQL20222\MSSQL\DATA\QL THUVIEN DHKTCN_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QL THUVIEN DHKTCN].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QL THUVIEN DHKTCN]
GO
/****** Object:  Table [dbo].[ChiTietPhieuMuon]    Script Date: 23/04/2025 9:52:19 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietPhieuMuon](
	[MaPhieu] [varchar](10) NOT NULL,
	[MaSach] [varchar](10) NOT NULL,
	[SoLuong] [int] NULL,
	[TenSach] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhieu] ASC,
	[MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Log]    Script Date: 23/04/2025 9:52:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Log](
	[MaCanhBao] [int] IDENTITY(1,1) NOT NULL,
	[MaSV] [nvarchar](20) NULL,
	[HoTen] [nvarchar](100) NULL,
	[MaPhieu] [nvarchar](20) NULL,
	[NgayMuon] [date] NULL,
	[NgayTraDuKien] [date] NULL,
	[NgayCanhBao] [date] NULL,
	[TrangThai] [nvarchar](50) NULL,
	[GhiChu] [nvarchar](255) NULL,
 CONSTRAINT [PK__Log__73C23D93E654C05D] PRIMARY KEY CLUSTERED 
(
	[MaCanhBao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 23/04/2025 9:52:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [varchar](10) NOT NULL,
	[HoTen] [nvarchar](100) NULL,
	[ChucVu] [nvarchar](50) NULL,
	[SDT] [varchar](15) NULL,
	[Email] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuMuon]    Script Date: 23/04/2025 9:52:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuMuon](
	[MaPhieu] [varchar](10) NOT NULL,
	[MaSV] [varchar](10) NULL,
	[MaNV] [varchar](10) NULL,
	[NgayMuon] [date] NULL,
	[NgayTraDuKien] [date] NULL,
	[TrangThai] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuTra]    Script Date: 23/04/2025 9:52:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuTra](
	[MaPhieuTra] [varchar](10) NOT NULL,
	[MaPhieu] [varchar](10) NULL,
	[NgayTra] [date] NULL,
	[TienPhat] [decimal](10, 2) NULL,
	[GhiChu] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhieuTra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sach]    Script Date: 23/04/2025 9:52:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sach](
	[MaSach] [varchar](10) NOT NULL,
	[TieuDe] [nvarchar](200) NULL,
	[TacGia] [nvarchar](100) NULL,
	[NhaXuatBan] [nvarchar](100) NULL,
	[NamXuatBan] [int] NULL,
	[MaTheLoai] [varchar](10) NULL,
	[SoLuong] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SinhVien]    Script Date: 23/04/2025 9:52:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SinhVien](
	[MaSV] [varchar](10) NOT NULL,
	[HoTen] [nvarchar](100) NULL,
	[Lop] [nvarchar](50) NULL,
	[Khoa] [nvarchar](100) NULL,
	[SDT] [varchar](15) NULL,
	[Email] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TheLoai]    Script Date: 23/04/2025 9:52:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TheLoai](
	[MaTheLoai] [varchar](10) NOT NULL,
	[TenTheLoai] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTheLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ChiTietPhieuMuon] ([MaPhieu], [MaSach], [SoLuong], [TenSach]) VALUES (N'M01', N'MS01', 3, N'sach kinh di')
INSERT [dbo].[ChiTietPhieuMuon] ([MaPhieu], [MaSach], [SoLuong], [TenSach]) VALUES (N'M02', N'MS02', 4, N'sach ngon tinh')
GO
SET IDENTITY_INSERT [dbo].[Log] ON 

INSERT [dbo].[Log] ([MaCanhBao], [MaSV], [HoTen], [MaPhieu], [NgayMuon], [NgayTraDuKien], [NgayCanhBao], [TrangThai], [GhiChu]) VALUES (1, N'SV001', N'Nguyễn Văn A', N'PM001', CAST(N'2025-03-20' AS Date), CAST(N'2025-04-01' AS Date), CAST(N'2025-04-23' AS Date), N'Đang mượn', N'Sinh viên mượn sách quá hạn chưa trả')
SET IDENTITY_INSERT [dbo].[Log] OFF
GO
INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [ChucVu], [SDT], [Email]) VALUES (N'MNV01', N'Nguyen van hoan', N'thu thu', N'099887652', N'Hoan@gmail.com')
INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [ChucVu], [SDT], [Email]) VALUES (N'MVN02', N' Trieu Tra My', N'thủ quỹ', N'099928909', N'My@gmail.com')
GO
INSERT [dbo].[PhieuMuon] ([MaPhieu], [MaSV], [MaNV], [NgayMuon], [NgayTraDuKien], [TrangThai]) VALUES (N'M01', N'SV001', N'MNV01', CAST(N'2025-04-01' AS Date), CAST(N'2025-04-03' AS Date), N'chua tra')
INSERT [dbo].[PhieuMuon] ([MaPhieu], [MaSV], [MaNV], [NgayMuon], [NgayTraDuKien], [TrangThai]) VALUES (N'M02', N'SV002', N'MVN02', CAST(N'2025-03-30' AS Date), CAST(N'2025-04-05' AS Date), N'da tra')
GO
INSERT [dbo].[PhieuTra] ([MaPhieuTra], [MaPhieu], [NgayTra], [TienPhat], [GhiChu]) VALUES (N'MP01', N'M01', CAST(N'2025-04-21' AS Date), CAST(20000.00 AS Decimal(10, 2)), N'da tra')
INSERT [dbo].[PhieuTra] ([MaPhieuTra], [MaPhieu], [NgayTra], [TienPhat], [GhiChu]) VALUES (N'MP02', N'M02', CAST(N'2025-04-03' AS Date), CAST(2000000.00 AS Decimal(10, 2)), N'chua tra')
GO
INSERT [dbo].[Sach] ([MaSach], [TieuDe], [TacGia], [NhaXuatBan], [NamXuatBan], [MaTheLoai], [SoLuong]) VALUES (N'MS01', N'01', N'Victor', N'kimdong', 2018, N'M01', 3)
INSERT [dbo].[Sach] ([MaSach], [TieuDe], [TacGia], [NhaXuatBan], [NamXuatBan], [MaTheLoai], [SoLuong]) VALUES (N'MS02', N'02', N'TATa', N'kimdong', 2019, N'M02', 4)
GO
INSERT [dbo].[SinhVien] ([MaSV], [HoTen], [Lop], [Khoa], [SDT], [Email]) VALUES (N'SV001', N'NGUYEN VAN HOAN', N'K58KTP', N'DIEN TU', N'09986545798', N'Hieu@gmail.com')
INSERT [dbo].[SinhVien] ([MaSV], [HoTen], [Lop], [Khoa], [SDT], [Email]) VALUES (N'SV002', N'NGUYEN THI XUAN PHUONG', N'K58KTP', N'DIEN TU', N'098988993', N'Phuong@gmail.com')
GO
INSERT [dbo].[TheLoai] ([MaTheLoai], [TenTheLoai]) VALUES (N'M01', N'kinhdi')
INSERT [dbo].[TheLoai] ([MaTheLoai], [TenTheLoai]) VALUES (N'M02', N'truyenma')
GO
ALTER TABLE [dbo].[Log] ADD  CONSTRAINT [DF__Log__NgayCanhBao__5AEE82B9]  DEFAULT (getdate()) FOR [NgayCanhBao]
GO
ALTER TABLE [dbo].[ChiTietPhieuMuon]  WITH CHECK ADD  CONSTRAINT [FK__ChiTietPh__MaPhi] FOREIGN KEY([MaPhieu])
REFERENCES [dbo].[PhieuMuon] ([MaPhieu])
GO
ALTER TABLE [dbo].[ChiTietPhieuMuon] CHECK CONSTRAINT [FK__ChiTietPh__MaPhi]
GO
ALTER TABLE [dbo].[ChiTietPhieuMuon]  WITH CHECK ADD  CONSTRAINT [FK__ChiTietPh__MaSach] FOREIGN KEY([MaSach])
REFERENCES [dbo].[Sach] ([MaSach])
GO
ALTER TABLE [dbo].[ChiTietPhieuMuon] CHECK CONSTRAINT [FK__ChiTietPh__MaSach]
GO
ALTER TABLE [dbo].[PhieuMuon]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[PhieuMuon]  WITH CHECK ADD  CONSTRAINT [FK__PhieuMuon__MaSV] FOREIGN KEY([MaSV])
REFERENCES [dbo].[SinhVien] ([MaSV])
GO
ALTER TABLE [dbo].[PhieuMuon] CHECK CONSTRAINT [FK__PhieuMuon__MaSV]
GO
ALTER TABLE [dbo].[PhieuTra]  WITH CHECK ADD  CONSTRAINT [FK__PhieuTra__MaPhie] FOREIGN KEY([MaPhieu])
REFERENCES [dbo].[PhieuMuon] ([MaPhieu])
GO
ALTER TABLE [dbo].[PhieuTra] CHECK CONSTRAINT [FK__PhieuTra__MaPhie]
GO
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD  CONSTRAINT [FK__Sach__MaTheLoai] FOREIGN KEY([MaTheLoai])
REFERENCES [dbo].[TheLoai] ([MaTheLoai])
GO
ALTER TABLE [dbo].[Sach] CHECK CONSTRAINT [FK__Sach__MaTheLoai]
GO
/****** Object:  StoredProcedure [dbo].[sp_CanhBaoQuaHan]    Script Date: 23/04/2025 9:52:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		MA QUOC HIEU
-- Create date: 2025-04-23
-- Description:	Canhbaotinhtrangsinhvienchuatrasach
-- =============================================
CREATE PROCEDURE [dbo].[sp_CanhBaoQuaHan]
AS
BEGIN
    INSERT INTO Log (MaSV, HoTen, MaPhieu, NgayMuon, NgayTraDuKien, TrangThai, GhiChu)
    SELECT 
        sv.MaSV,
        sv.HoTen,
        pm.MaPhieu,
        pm.NgayMuon,
        pm.NgayTraDuKien,
        pm.TrangThai,
        N'Sinh viên quá hạn chưa trả sách'
    FROM PhieuMuon pm
    JOIN SinhVien sv ON pm.MaSV = sv.MaSV
    WHERE pm.TrangThai = N'Đang mượn'
        AND pm.NgayTraDuKien < GETDATE();
END
GO
USE [master]
GO
